# MGTF 495: Project Part 1
# Housing Sale Price Prediction

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
# Read data
train = pd.read_csv('data/train_new.csv')
test = pd.read_csv('data/test_new.csv')

In [5]:
train

,Paved Drive,BsmtExposure,BsmtUnfinishedArea,ProximityToMainRoad2,KitchenQuality,SaleCondition,LivingArea,Lot Config,FenceQuality,SaleType,...,BsmtFinish1Area,Quality,GarageType,LotSize,Kitchens,GarageYearBuilt,BuildingClass,2ndFloorArea,1stFloorArea,SalePrice
0,N,NaN,0,Norm,TA,Normal,845,CulDSac,NaN,WD,...,0,4,Detchd,11500,1,1957.0,20,0,1889,110720.0
1,Y,No,928,Norm,TA,Normal,1329,Inside,NaN,WD,...,608,7,Attchd,12285,1,1960.0,20,252,2373,212091.0
2,Y,No,2174,Norm,TA,Normal,1967,Inside,NaN,WD,...,0,5,Attchd,9662,2,1977.0,90,252,3011,190563.0
3,Y,Gd,1701,Norm,Gd,Normal,1614,Inside,NaN,WD,...,120,7,Attchd,9316,1,2005.0,20,252,2658,265887.0
4,Y,No,778,Norm,TA,Normal,1904,Inside,GdPrv,WD,...,244,5,Attchd,7200,1,1950.0,50,1020,2180,170146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,Y,No,1262,Norm,Gd,Normal,1845,Inside,GdPrv,WD,...,0,6,Attchd,11218,1,1992.0,60,1042,2099,226282.0
2047,Y,No,795,Norm,TA,Normal,2555,Inside,NaN,WD,...,0,6,Detchd,11526,1,1993.0,70,1000,2467,228462.0
2048,Y,Gd,527,Norm,TA,Normal,1081,Inside,NaN,WD,...,761,6,CarPort,12929,1,1960.0,20,252,2125,181005.0
2049,Y,No,413,Norm,TA,Normal,1167,Inside,NaN,WD,...,709,5,Detchd,8731,1,1972.0,30,252,2211,176591.0
2050,Y,No,1575,Norm,Gd,Partial,1368,Inside,NaN,New,...,0,7,Attchd,6955,1,2005.0,120,252,2412,241012.0

In [6]:
test

,MonthSold,TypeOfRoadAccess,BsmtHeight,Misc Feature,PoolSize,SaleType,HeatingQuality,TypeOfAlleyAccess,KitchenQuality,ProximityToMainRoad2,...,TotalRooms,BsmtFinishType1,MasVnrArea,Misc,LotFrontage,GarageCondition,BsmtUnfinishedArea,Shape,ExteriorQual,FullBaths
0,6,Pave,TA,NaN,0,WD,Fa,Grvl,Gd,Norm,...,7,Unf,0.0,0,NaN,TA,795.0,Reg,TA,1
1,2,Pave,Ex,NaN,0,WD,Ex,NaN,Ex,Norm,...,6,GLQ,122.0,0,77.0,TA,610.0,IR1,Gd,2
2,5,Pave,TA,NaN,0,WD,Ex,NaN,TA,Norm,...,5,Unf,279.0,0,60.0,TA,1015.0,Reg,TA,1
3,1,Pave,TA,NaN,0,Oth,TA,NaN,TA,Norm,...,10,BLQ,144.0,0,98.0,NaN,371.0,IR1,TA,2
4,11,Pave,Gd,Shed,0,WD,Ex,NaN,TA,Norm,...,7,ALQ,240.0,350,NaN,TA,318.0,IR1,TA,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,3,Pave,Ex,NaN,0,WD,Ex,NaN,Gd,Norm,...,7,GLQ,42.0,0,107.0,TA,940.0,IR1,Gd,2
875,8,Pave,TA,NaN,0,WD,TA,NaN,TA,Norm,...,6,Rec,104.0,0,80.0,TA,543.0,Reg,TA,2
876,6,Pave,Gd,NaN,0,WD,Gd,Pave,TA,Norm,...,5,GLQ,1129.0,0,34.0,TA,453.0,Reg,TA,2
877,8,Pave,TA,NaN,0,WD,TA,NaN,TA,Norm,...,7,Unf,0.0,0,115.0,TA,927.0,Reg,TA,2
878,12,Pave,TA,NaN,0,WD,TA,NaN,TA,Norm,...,6,Rec,356.0,0,21.0,TA,423.0,Reg,TA,2

In [4]:
#check the numbers of samples and features
print("The train data size before dropping Id feature is : {} ".format(train.shape))
print("The test data size before dropping Id feature is : {} ".format(test.shape))

#Save the 'Id' column
train_ID = train['ID']
test_ID = test['ID']

#Now drop the  'Id' colum since it's unnecessary for  the prediction process.
train.drop("ID", axis = 1, inplace = True)
test.drop("ID", axis = 1, inplace = True)

#check again the data size after dropping the 'Id' variable
print("\nThe train data size after dropping Id feature is : {} ".format(train.shape)) 
print("The test data size after dropping Id feature is : {} ".format(test.shape))

The train data size before dropping Id feature is : (2051, 81)
The test data size before dropping Id feature is : (879, 80)

The train data size after dropping Id feature is : (2051, 80)
The test data size after dropping Id feature is : (879, 79)

In [4]:
def rmse(y_true, y_pred):
    """Root Mean Squared Error"""
    return np.sqrt(mean_squared_error(y_true, y_pred))

## `SalePrice` Baseline 
### Predict the global average sale price.

In [5]:
y_pred = train.SalePrice.values.mean() * np.ones(test.shape[0])

# Submission

In [6]:
# create submission file
sub = pd.DataFrame()
sub['Id'] = test_ID
sub['SalePrice'] = y_pred
sub.to_csv('baseline_submission_new.csv', index=False)